button.button4 {
        font-size: 1.4em;
        font-weight: bold;
        width: 200px;
        padding: 10px 30px;
        background-color: #248;
        color: #fff;
        border-style: none;
}
 button.button4:hover {
        background-color: #24d;
        color: #fff;
 }
    